::-webkit-scrollbar {

width:10px;

height:7px;

}

::-webkit-scrollbar-track {

background:#efefef;

}

::-webkit-scrollbar-thumb {

background:#403e3e;

border-radius:0

}

::-webkit-scrollbar-thumb:hover {

background:#fd6308;

cursor:pointer;

}

::-webkit-scrollbar-thumb:active {

background:#fd6308;

}

body

{font-family: 'Titillium Web', sans-serif !important;}

.gentle-line

{width:100%;float:left;padding: 5px 0px 0px 0px;background:#fff;font-family: 'Titillium Web', sans-serif;margin:0px;}

.gentle-slider

{width:100%;float:left;padding:45px 0px;background:url(../images/infinite.jpg) center no-repeat;background-size:100% 100%;font-family: 'Titillium Web', sans-serif;margin:0px;}


body{overflow-x: hidden;}


.gentle-line .container > .row{display:flex;flex-wrap:wrap;align-items: center;}

.list-gro {



color: black;

 background-color:#ea860f;

text-align: center;

font-size: 21px;

line-height: 54px;

}





.back{

    background-color: #ea860f;

    padding: 10px;

}

.form {

background: #fff;

padding: 0px 14px 0px 14px !important;

margin-top: -29px !important;

}

.form-me {

border-bottom: solid 1px #ddd;

border: solid 1px #a09e9e !important;

margin-top: 10px;

margin-bottom: 10px;

height: 46px !important;

padding: 4px 15px !important;

border-radius: 10px !important;

}

.submitme {

background: #ea860f!important;

color: #fff !important;

text-transform: uppercase !important;

padding: 11px 25px !important;

margin-bottom: 15px !important;

border: solid 1px #ea860f!important;

border-radius: 3px;

}

.gentle-package

{width:100%;float:left;padding: 55px 0px 0px 0px;font-family: 'Titillium Web', sans-serif;margin:0px; border-top:solid 0px #ddd !important;}

.gentle-package .thumbnail

{

border:none !important;

border-radius:0px !important;

}

.gentle-package p

{

font-size:16px;

text-align:left;

}

.gentle-package h2

{

font-size:20px;

text-align:left;

font-weight:bold;

color:#ea860f;

}

.fomt-my {

border-bottom: solid 1px #ddd;

border: solid 1px #ddd !important;

margin-bottom: 15px;

height: 50px !important;

padding: 4px 15px !important;

}

.show_hide

{

color:#ea860f!important;

cursor:pointer;

}



.show_hide2

{

color:#ea860f!important;

cursor:pointer;

}



.show_hide3

{

color:#ea860f!important;

cursor:pointer;

}



.show_hide4

{

color:#ea860f!important;

cursor:pointer;

}



.show_hide6

{

color:#ea860f!important;

cursor:pointer;

}



.show_hide5

{

color:#ea860f!important;

cursor:pointer;

}

.close

{

cursor:pointer;

display:block !important;}



.closee2

{

cursor:pointer;}



.closee3

{

cursor:pointer;}



.closee4

{

cursor:pointer;}



.closee5

{

cursor:pointer;}



.closee6

{

cursor:pointer;}





.close-me {

float: left !important;

font-size:16px !important;

font-weight:100 !important;

border-radius:0% !important;

padding:0px !important;

line-height: 1 !important;

color: #202020 !important;

background:#fff !important;

filter: alpha(opacity=20);

opacity:10 !important;

color:#F30 !important;

}

.gentle-package .thumbnail h3

{
    text-align: left;
    font-weight: bold;
    margin: 10px 0px 16px 0px;
    font-size: 20px;

}
form .list-gro{
	color: #fff;
    font-weight: 600;
}
.formc{
	border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 60%);
}
.gentle-package .col-md-3 {

width: 20% !important;

}

.gentle-packagerow {   border-top: solid 1px #ddd;

border-bottom: solid 1px #ddd;

margin: 0px 0px 10px 0px;

text-align:center;

padding: 10px 0px;

font-size:13px;

}

.tou-name

{display:none !important;font-weight: 800;background: #ea860f;padding: 11px 13px 13px 13px;float: left;color:#fff;font-size: 16px;position: relative;text-align: left;z-index: 999;margin-top:-100px;border-radius: 0px 50px 50px 0px;}

.tou-name em

{font-size:16px !important;line-height: 14px;float: left;padding-bottom: 10px;}

.tags {



font-size: 31px;

}

.row-ma

{

margin-top:40px;}

.zoom-img{    -moz-transition: all .3s;

-webkit-transition: all .3s;

transition: all .3s;

vertical-align: middle;

height: 100%;

width: 100%;

}

/* .zoom-img:hover{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);vertical-align:middle} */
.thumbnail > .zoom-img{
	box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}
.logo

{

width:95% !important;

}

.text-al

{

text-align:right !important;

font-size:20px !important;

}

.text-al span

{

float:right;

padding:0px 0px 10px 0px;

}

.text-al a

{

color:#202020 !important;

padding:10px;

}

.text-al a:hover

{

color:#202020 !important;

text-decoration:blink;

}

.border-top

{

border-bottom:solid 1px #fff !important;

}

.dis

{

display:block;

}

.stile-con

{

background:url(../images/testimonials-back.jpg) center fixed;

background-size:cover;

padding:55px 0px;

float:left;

width:100%;

margin:0px;

font-family: 'Titillium Web', sans-serif !important;

text-align:center;

font-size:40px;

font-weight: 500;

color:#fff;

}

.linkbutton

{    padding: 11px 25px;

font-size: 21px;

font-weight: 500;

color: #ea860f!important;

border-radius: 3px;

background: #fff !important;

}

.linkbutton:hover

{

text-decoration:blink;

color: #fff !important;

background: #ea860f!important;

}

.tagss {

font-size: 23px;

text-align:center;

color:#ea860f;

}

.what-we-do {

width: 100%;

float: left;

padding: 55px 0px;

font-family: 'Titillium Web', sans-serif !important;

background: #fff;

text-align: center;

}

.what-we-do .thumbnail {

border: 1px #ccc dashed;

border-radius: 0px !important;

padding: 15px !important;

color: #242424 !important;

}

.what-we-do .thumbnail:hover {

border: 1px #ea860fdashed;

}

.what-we-do .thumbnail h3 {

margin: 0px 0px 10px 0px;

font-size: 17px;

font-weight: bold;

color: #ea860f;

}

.what-we-do .thumbnail p {

font-size: 17px;

}

.heading-hr {

width: 85px;

background: #ea860f;

font-weight: bold;

height: 1px;

margin: 0 auto;

margin-bottom: 10px !important;

border: none;

text-align: center;

}

.linkbuttonn

{    padding: 11px 25px;

font-size: 21px;

font-weight: 500;

color: #fff !important;

border-radius: 3px;

background: #ea860f!important;

}

.linkbuttonn:hover

{

text-decoration:blink;

color: #fff !important;

background: #202020 !important;

}

.footer-line {

width: 100%;

float: left;

padding: 50px 0px;

color: #fff;

background: #1f2532;

font-family: 'Titillium Web', sans-serif;

}

.footer-heading-space h4 {

font-size: 20px;

font-weight: 600;

text-transform: capitalize;

font-family: 'Titillium Web', sans-serif;

margin-bottom: 9px !important;

}



.footer-line p {

text-decoration: none;

color: #fff;

/* font-size: 14px; */

font-weight: 400;

}

.footer-line a {

text-decoration: none;

color: #ececec;

font-size: 16px;

font-weight: 400;

}

.footer-line a:hover

{

color:#fff;

text-decoration:blink;}

.footer-social-icon>i {

color: #fff;

padding: 8px 10px;

background: #484848;

border-radius: 50%;

}

.copyright-line {

background: #1d1d1d;

float: left;

width: 100%;

padding: 10px 0px;

text-align: center;

color: #636976;

font-family: 'Titillium Web', sans-serif;

}

@media only screen and (min-width:360px) and (max-width:640px) {

.copyright-line {

font-size:12px;

}

.footer-line a {

font-size: 14px;

}

.tou-name {

font-size: 15px;

}

.btn-primary {

font-size: 13px !important;

}

.btn-default {

font-size: 13px !important;

}

.stile-con {

padding:35px 0px;

font-size: 20px;

}

.linkbutton {

padding: 9px 10px;

font-size: 14px;

}

.linkbuttonn

{padding: 9px 10px;

font-size: 14px;}

.gentle-package

{width:100%;float:left;padding:15px 0px 0px 0px;font-family: 'Titillium Web', sans-serif;margin:0px; border-top:solid 1px #ddd !important;}

.row-ma

{

margin-top:10px;}

.gentle-package p {

font-size: 14px;

text-align: left;

margin-bottom: 6px;

}

.tags {

font-size: 21px;

}

.dis

{

display:none;

}

.border-top

{

border-bottom:solid 1px #ddd !important;

padding:10px !important;

}

.text-al

{

text-align:center !important;

font-size:14px !important;

}

.logo

{

width:35% !important;

}

.gentle-slider

{width:100%;float:left;padding:3px 0px 0px 0px;background:#fff !important;background-size:cover;font-family: 'Titillium Web', sans-serif;margin:0px;}



.gentle-line

{

padding-bottom:0px !important;

}

.gentle-packagerow {   border-top: solid 1px #ddd;

border-bottom: solid 1px #ddd;

margin: 0px 0px 10px 0px;

text-align:center;

padding: 10px 0px;

font-size:11px;

}























.orange{

	color:#ea860f !important;

}





.btn-default{

	

	color:black !important;

	background-color:#ea860f !important;

}




@media(max-width:769px){
	.gentle-slider{background: transparent;}
	.gentle-line .col-md-2{text-align: center;}
	.gentle-line .col-md-2 .logo{max-width:200px !important;}
	.gentle-line .col-md-10 .row{text-align: center;}
}





























}
.btn-default {
    color: #fff !important;
    background: linear-gradient(45deg, #ea860f, #fc951a) !important;
    border-color: #fff !important; 
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    box-shadow: 0px 3px 7px rgb(0 0 0 / 8%) !important;
}
.row-ma{display: flex;flex-wrap: wrap;}

.pricequote

{font-weight: 800;
    background: #ea860f;
    padding: 11px 13px 13px 13px;
    float: right;
    color: #fff;
    font-size: 18px;

    position: absolute;
    text-align: left;
    z-index: 999;
    border-radius: 0px 0px 20px 20px;
    top: 4px;
    left: 30px;}
    strike {
        font-size: 14px;
        margin-right: 10px;
        font-weight: 800;
        display: inline-block;
    }
    .caption h5 {
        min-height: 30px;
    }
.pricequote em

{font-size:16px !important;line-height: 14px;float: left;padding-bottom: 10px;}
